#u30225-4,#u17486-4
{
	font-family: open-sans-n7, sans-serif;
}

#u17490-4
{
	font-family: open-sans-n7, sans-serif;
}

#u17492-4
{
	font-family: open-sans-n7, sans-serif;
}

#u17495-4
{
	font-family: open-sans-n7, sans-serif;
}

#u30228,#u30242-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30253-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30261-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30283-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30289-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30307-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30321-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30328-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30343-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30356-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30228-5,#u30167-9,#u30168-4,#u30169-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30170-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30173-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30174-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30178-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30179-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30182-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30171-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30172-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30175-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30176-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30177-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30180-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30181-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30183-4
{
	font-family: open-sans-n3, sans-serif;
}

#u15981-4
{
	font-family: open-sans-n4, sans-serif;
}

#u4190-5,#u4192-15,#u4209-4,#u4210-4,#u4211-4,#u4260-4,#u4261-4,#u4262-4,#u4311-4,#u4312-4,#u4313-4,#u4346-4,#u4347-4,#u4348-4,#u4397-4,#u4398-4,#u4399-4,#u4448-4,#u4449-4,#u4450-4,#u4499-4,#u4500-4,#u4501-4,#u4550-4,#u4551-4,#u4552-4,#u4601-4,#u4603-4,#u4652-4,#u4653-4,#u4654-4,#u4703-4,#u4704-4,#u4705-4,#u4754-4,#u4755-4,#u4756-4,#u4805-4,#u4806-4,#u4807-4,#u4856-4,#u5653-4,#u29219-4,#u29220-4,#u29249-4,#u29250-4,#u29251-4,#u29348-4,#u29349-4,#u29350-4,#u29447-4,#u29448-4,#u29449-4,#u29546-4,#u29547-4,#u29548-4,#u29645-4,#u29646-4,#u29647-4,#u29744-4,#u29745-4,#u29746-4,#u29843-4,#u29844-4,#u26894-4
{
	font-family: open-sans-n3, sans-serif;
}

#u26985-4,#u27002-6,#u26966-4,#u26935-6,#u26950-6,#u26917-6,#u27021-6,#u27047-4,#u27054-6,#u27084-6,#u27101-4
{
	font-family: open-sans-n6, sans-serif;
}

#u4191-4,#u18702-4,#u18713-4,#u18724-4,#u18798-4,#u18809-4,#u18820-4,#u18894-4,#u18905-4,#u18916-4,#u18990-4,#u4358-4,#u19012-4,#u4426-4,#u19083-4,#u19094-4,#u19154-4,#u19165-4,#u19176-4,#u19250-4,#u19261-4,#u19272-4,#u19346-4,#u19357-4,#u19368-4,#u19442-4,#u19464-4,#u19538-4,#u19549-4,#u19560-4,#u19634-4,#u19645-4,#u19656-4,#u19730-4,#u19741-4,#u19752-4,#u19826-4,#u19837-4,#u19848-4,#u19922-4,#u19933-4,#u29173-4,#u29186-4,#u29255-4,#u29271-4,#u29293-4,#u29354-4,#u29370-4,#u29392-4,#u29453-4,#u29469-4,#u29491-4,#u29552-4,#u29568-4,#u29590-4,#u29651-4,#u29667-4,#u29689-4,#u29750-4,#u29766-4,#u29788-4,#u29849-4,#u29865-4,#u26990-4,#u27007-4,#u26971-4,#u26933-4,#u26953-4,#u26919-4,#u27025-4,#u27049-4,#u27057-4,#u27086-4,#u27104-4
{
	font-family: open-sans-n4, sans-serif;
}

