#u30225-4,#u17486-4
{
	font-family: open-sans-n7, sans-serif;
}

#u17490-4
{
	font-family: open-sans-n7, sans-serif;
}

#u17492-4
{
	font-family: open-sans-n7, sans-serif;
}

#u17495-4
{
	font-family: open-sans-n7, sans-serif;
}

#u30228,#u30242-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30253-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30261-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30283-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30289-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30307-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30321-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30328-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30343-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30356-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30228-5,#u30167-9,#u30168-4,#u30169-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30170-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30173-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30174-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30178-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30179-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30182-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30171-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30172-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30175-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30176-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30177-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30180-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30181-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30183-4
{
	font-family: open-sans-n3, sans-serif;
}

#u15981-4
{
	font-family: open-sans-n4, sans-serif;
}

#u12371-4,#u12373-4,#u12390-4,#u12391-4,#u12392-4,#u12441-4,#u12442-4,#u12443-4,#u12476-4,#u12477-4,#u12478-4,#u12511-4,#u12512-4,#u12513-4,#u12546-4,#u12547-4,#u12548-4,#u12581-4,#u12582-4,#u12583-4,#u12632-4,#u12633-4,#u12634-4,#u12683-4,#u12684-4,#u12685-4,#u12734-4,#u12735-4,#u12736-4,#u12769-4,#u12770-4,#u12771-4,#u12804-4,#u12805-4,#u12806-4,#u12839-4,#u12840-4,#u12841-4,#u28630-4
{
	font-family: open-sans-n3, sans-serif;
}

#u28721-4,#u28738-6,#u28702-4,#u28671-6,#u28686-6,#u28653-6,#u28757-6,#u28783-4,#u28790-6,#u28820-6,#u28837-4
{
	font-family: open-sans-n6, sans-serif;
}

#u12372-4,#u12389-4,#u12404-4,#u12417-4,#u12434-4,#u12446-4,#u12472-4,#u12940-4,#u12493-4,#u12497-4,#u13282-4,#u13010-4,#u12524-4,#u13322-4,#u12570-4,#u12558-4,#u24729-4,#u24742-4,#u12595-4,#u12653-4,#u13458-4,#u12649-4,#u12717-4,#u13536-4,#u12688-4,#u12968-4,#u24824-4,#u24851-4,#u24893-4,#u24906-4,#u12779-4,#u12988-4,#u12832-4,#u12820-4,#u12877-4,#u12862-4,#u25015-4,#u28726-4,#u28743-4,#u28707-4,#u28669-4,#u28689-4,#u28655-4,#u28761-4,#u28785-4,#u28793-4,#u28822-4,#u28840-4
{
	font-family: open-sans-n4, sans-serif;
}

