#u30225-4,#u17486-4
{
	font-family: open-sans-n7, sans-serif;
}

#u17490-4
{
	font-family: open-sans-n7, sans-serif;
}

#u17492-4
{
	font-family: open-sans-n7, sans-serif;
}

#u17495-4
{
	font-family: open-sans-n7, sans-serif;
}

#u30228,#u30242-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30253-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30261-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30283-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30289-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30307-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30321-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30328-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30343-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30356-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30228-5,#u30167-9,#u30168-4,#u30169-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30170-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30173-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30174-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30178-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30179-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30182-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30171-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30172-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30175-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30176-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30177-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30180-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30181-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30183-4
{
	font-family: open-sans-n3, sans-serif;
}

#u15981-4
{
	font-family: open-sans-n4, sans-serif;
}

#u5743-4,#u5745-14,#u5762-4,#u5763-4,#u5764-4,#u5813-4,#u5814-4,#u5815-4,#u5848-4,#u5849-4,#u5850-4,#u5883-4,#u5884-4,#u5885-4,#u5934-4,#u5935-4,#u5936-4,#u5985-4,#u5986-4,#u5987-4,#u6036-4,#u6037-4,#u6038-4,#u6087-4,#u6088-4,#u6089-4,#u6138-4,#u6139-4,#u6140-4,#u6173-4,#u6174-4,#u6175-4,#u6208-4,#u6209-4,#u6210-4,#u6243-4,#u6244-4,#u6245-4,#u6294-4,#u6295-4,#u6296-4,#u6345-4,#u6426-4,#u6427-4,#u7252-4,#u7269-4,#u7270-4,#u7309-4,#u7326-4,#u7327-4,#u7366-4,#u7383-4,#u7384-4,#u7549-4,#u7566-4,#u7567-4,#u7606-4,#u27142-4
{
	font-family: open-sans-n3, sans-serif;
}

#u27233-4,#u27250-6,#u27214-4,#u27183-6,#u27198-6,#u27165-6,#u27269-6,#u27295-4,#u27302-6,#u27332-6,#u27349-4
{
	font-family: open-sans-n6, sans-serif;
}

#u5744-6,#u20004-4,#u20015-4,#u20026-4,#u20100-4,#u20111-4,#u20122-4,#u20196-4,#u20207-4,#u20218-4,#u5927-4,#u20357-4,#u20368-4,#u20428-4,#u20439-4,#u20450-4,#u20524-4,#u20535-4,#u20546-4,#u20620-4,#u6079-4,#u20642-4,#u20756-4,#u6129-4,#u20778-4,#u20838-4,#u20849-4,#u20860-4,#u20934-4,#u20945-4,#u20956-4,#u21030-4,#u21041-4,#u21052-4,#u21126-4,#u21137-4,#u21148-4,#u6342-4,#u6318-4,#u6301-4,#u21222-4,#u21233-4,#u21244-4,#u21318-4,#u21329-4,#u21340-4,#u21414-4,#u21425-4,#u21436-4,#u21510-4,#u7390-4,#u21532-4,#u7562-4,#u21603-4,#u21614-4,#u21674-4,#u27238-4,#u27255-4,#u27219-4,#u27181-4,#u27201-4,#u27167-4,#u27273-4,#u27297-4,#u27305-4,#u27334-4,#u27352-4
{
	font-family: open-sans-n4, sans-serif;
}

