#u15964-4,#u670-4
{
	font-family: open-sans-n7, sans-serif;
}

#u694-4
{
	font-family: open-sans-n7, sans-serif;
}

#u723-4
{
	font-family: open-sans-n7, sans-serif;
}

#u726-4
{
	font-family: open-sans-n7, sans-serif;
}

#u30224
{
	font-family: open-sans-n8, sans-serif;
}

#u30224-5,#u153-9,#u16018-4,#u16019-4
{
	font-family: open-sans-n3, sans-serif;
}

#u16020-4
{
	font-family: open-sans-n3, sans-serif;
}

#u16023-4
{
	font-family: open-sans-n3, sans-serif;
}

#u16024-4
{
	font-family: open-sans-n3, sans-serif;
}

#u16029-4
{
	font-family: open-sans-n3, sans-serif;
}

#u16032-4
{
	font-family: open-sans-n3, sans-serif;
}

#u16021-4
{
	font-family: open-sans-n3, sans-serif;
}

#u16022-4
{
	font-family: open-sans-n3, sans-serif;
}

#u16025-4
{
	font-family: open-sans-n3, sans-serif;
}

#u16026-4
{
	font-family: open-sans-n3, sans-serif;
}

#u16027-4
{
	font-family: open-sans-n3, sans-serif;
}

#u16028-4
{
	font-family: open-sans-n3, sans-serif;
}

#u16030-4
{
	font-family: open-sans-n3, sans-serif;
}

#u16031-4
{
	font-family: open-sans-n3, sans-serif;
}

#u16033-4
{
	font-family: open-sans-n3, sans-serif;
}

#u15996-4
{
	font-family: open-sans-n4, sans-serif;
}

#u364-4
{
	font-family: open-sans-n8, sans-serif;
}

#u385-4
{
	font-family: open-sans-n8, sans-serif;
}

#u411-4
{
	font-family: open-sans-n8, sans-serif;
}

#u417-4
{
	font-family: open-sans-n8, sans-serif;
}

#u434-4
{
	font-family: open-sans-n8, sans-serif;
}

#u444-4
{
	font-family: open-sans-n8, sans-serif;
}

#u455-4
{
	font-family: open-sans-n8, sans-serif;
}

#u476-4
{
	font-family: open-sans-n8, sans-serif;
}

#u489-4
{
	font-family: open-sans-n8, sans-serif;
}

#u497-4
{
	font-family: open-sans-n8, sans-serif;
}

#u31606-4
{
	font-family: open-sans-n7, sans-serif;
}

#u25483-4,#u25496-6,#u25514-4,#u25533-6,#u25550-6,#u25571-6,#u25648-6,#u25662-4,#u25680-6,#u25706-6,#u25711-4
{
	font-family: open-sans-n6, sans-serif;
}

#u35393-4,#u799-4,#u25412-4,#u25413-4,#u25414-4,#u25433-4,#u25434-5,#u25435-4,#u25454-4,#u25455-6,#u25456-8,#u25469-4,#u25470-6,#u1486-4,#u1484-4,#u1533-6,#u1535-6,#u1538-6
{
	font-family: open-sans-n3, sans-serif;
}

#u25376-6,#u25481-4,#u25491-4,#u25513-4,#u25538-4,#u25554-4,#u25572-4,#u25647-4,#u25665-4,#u25679-4,#u25702-4,#u25715-4,#u1539-6,#u1540-4,#u1541-4
{
	font-family: open-sans-n4, sans-serif;
}

