#u30642-4,#u30660-4
{
	font-family: open-sans-n7, sans-serif;
}

#u30654-4
{
	font-family: open-sans-n7, sans-serif;
}

#u30664-4
{
	font-family: open-sans-n7, sans-serif;
}

#u30657-4
{
	font-family: open-sans-n7, sans-serif;
}

#u30639
{
	font-family: open-sans-n8, sans-serif;
}

#u30639-5,#u30632-8,#u30608-4,#u30611-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30621-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30609-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30618-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30615-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30625-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30612-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30627-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30633-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30626-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30631-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30607-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30630-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30606-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30624-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30603-4
{
	font-family: open-sans-n4, sans-serif;
}

#u16497-4
{
	font-family: open-sans-n4, sans-serif;
}

#u16510-4
{
	font-family: open-sans-n4, sans-serif;
}

#u16493-4
{
	font-family: open-sans-n4, sans-serif;
}

#u29929-4
{
	font-family: open-sans-n4, sans-serif;
}

#u15882-4,#u16476-4,#u15884-4,#u16474-8,#u16745-6,#u16746-4,#u16747-4,#u26646-4
{
	font-family: open-sans-n3, sans-serif;
}

#u26737-4,#u26754-6,#u26718-4,#u26687-6,#u26702-6,#u26669-6,#u26773-6,#u26799-4,#u26806-6,#u26836-6,#u26853-4
{
	font-family: open-sans-n6, sans-serif;
}

#u15883-4,#u16473-4,#u16744-4,#u16748-6,#u26742-4,#u26759-4,#u26723-4,#u26685-4,#u26705-4,#u26671-4,#u26777-4,#u26801-4,#u26809-4,#u26838-4,#u26856-4
{
	font-family: open-sans-n4, sans-serif;
}

