#u30225-4,#u17486-4
{
	font-family: open-sans-n7, sans-serif;
}

#u17490-4
{
	font-family: open-sans-n7, sans-serif;
}

#u17492-4
{
	font-family: open-sans-n7, sans-serif;
}

#u17495-4
{
	font-family: open-sans-n7, sans-serif;
}

#u30228,#u30242-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30253-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30261-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30283-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30289-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30307-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30321-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30328-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30343-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30356-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30228-5,#u30167-9,#u30168-4,#u30169-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30170-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30173-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30174-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30178-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30179-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30182-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30171-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30172-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30175-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30176-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30177-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30180-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30181-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30183-4
{
	font-family: open-sans-n3, sans-serif;
}

#u15981-4
{
	font-family: open-sans-n4, sans-serif;
}

#u11080-4,#u11082-4,#u11099-4,#u11100-4,#u11101-4,#u11150-4,#u11151-4,#u11152-4,#u11185-4,#u11186-4,#u11187-4,#u11220-4,#u11221-4,#u11222-4,#u11255-4,#u11256-4,#u11257-4,#u11290-4,#u11291-4,#u11292-4,#u11341-4,#u11342-4,#u11343-4,#u11392-4,#u11393-4,#u11394-4,#u11443-4,#u11444-4,#u11445-4,#u11478-4,#u11479-4,#u29125-4,#u11513-4,#u11514-4,#u11480-4,#u11515-4,#u28382-4
{
	font-family: open-sans-n3, sans-serif;
}

#u28473-4,#u28490-6,#u28454-4,#u28423-6,#u28438-6,#u28405-6,#u28509-6,#u28535-4,#u28542-6,#u28572-6,#u28589-4
{
	font-family: open-sans-n6, sans-serif;
}

#u11081-4,#u11098-4,#u11113-4,#u11126-4,#u11143-4,#u11155-4,#u11181-4,#u11661-4,#u11200-4,#u24181-4,#u24209-4,#u24222-4,#u24249-4,#u24305-4,#u24318-4,#u24345-4,#u24401-4,#u11332-4,#u24441-4,#u11375-4,#u24496-4,#u24523-4,#u11419-4,#u11442-4,#u11397-4,#u11666-4,#u11471-4,#u11457-4,#u11694-4,#u11507-4,#u29136-4,#u24633-4,#u24646-4,#u24605-4,#u24673-4,#u28478-4,#u28495-4,#u28459-4,#u28421-4,#u28441-4,#u28407-4,#u28513-4,#u28537-4,#u28545-4,#u28574-4,#u28592-4
{
	font-family: open-sans-n4, sans-serif;
}

