#u30225-4,#u17486-4
{
	font-family: open-sans-n7, sans-serif;
}

#u17490-4
{
	font-family: open-sans-n7, sans-serif;
}

#u17492-4
{
	font-family: open-sans-n7, sans-serif;
}

#u17495-4
{
	font-family: open-sans-n7, sans-serif;
}

#u30228,#u30242-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30253-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30261-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30283-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30289-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30307-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30321-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30328-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30343-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30356-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30228-5,#u30167-9,#u30168-4,#u30169-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30170-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30173-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30174-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30178-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30179-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30182-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30171-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30172-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30175-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30176-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30177-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30180-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30181-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30183-4
{
	font-family: open-sans-n3, sans-serif;
}

#u15981-4
{
	font-family: open-sans-n4, sans-serif;
}

#u7940-4,#u7942-7,#u7959-4,#u7960-4,#u7961-4,#u8010-4,#u8011-4,#u8012-4,#u8045-4,#u8046-4,#u8047-4,#u8080-4,#u8081-4,#u8082-4,#u8115-4,#u8116-4,#u8117-4,#u8150-4,#u8151-4,#u8152-4,#u8201-4,#u8202-4,#u8203-4,#u8252-4,#u8253-4,#u8254-4,#u8303-4,#u8304-4,#u8305-4,#u8338-4,#u8339-4,#u8340-4,#u8373-4,#u8374-4,#u8375-4,#u8408-4,#u8409-4,#u8410-4,#u8459-4,#u8460-4,#u8461-4,#u8510-4,#u8591-4,#u8592-4,#u8657-4,#u8674-4,#u8675-4,#u8708-4,#u8725-4,#u8726-4,#u8759-4,#u8776-4,#u8777-4,#u27638-4
{
	font-family: open-sans-n3, sans-serif;
}

#u27729-4,#u27746-6,#u27710-4,#u27679-6,#u27694-6,#u27661-6,#u27765-6,#u27791-4,#u27798-6,#u27828-6,#u27845-4
{
	font-family: open-sans-n6, sans-serif;
}

#u7941-4,#u21906-4,#u21917-4,#u21928-4,#u22002-4,#u8028-4,#u22024-4,#u22084-4,#u22095-4,#u22106-4,#u22180-4,#u8616-4,#u22202-4,#u8640-4,#u22273-4,#u22284-4,#u22344-4,#u22355-4,#u22366-4,#u22440-4,#u22451-4,#u22462-4,#u8277-4,#u9376-4,#u8263-4,#u8552-4,#u22615-4,#u8318-4,#u22672-4,#u22683-4,#u22694-4,#u22768-4,#u22779-4,#u22790-4,#u8455-4,#u8434-4,#u22886-4,#u9596-4,#u8485-4,#u22954-4,#u8524-4,#u23011-4,#u23022-4,#u23082-4,#u23093-4,#u23104-4,#u23178-4,#u23189-4,#u23200-4,#u23274-4,#u23285-4,#u23296-4,#u27734-4,#u27751-4,#u27715-4,#u27677-4,#u27697-4,#u27663-4,#u27769-4,#u27793-4,#u27801-4,#u27830-4,#u27848-4
{
	font-family: open-sans-n4, sans-serif;
}

