#u30225-4,#u17486-4
{
	font-family: open-sans-n7, sans-serif;
}

#u17490-4
{
	font-family: open-sans-n7, sans-serif;
}

#u17492-4
{
	font-family: open-sans-n7, sans-serif;
}

#u17495-4
{
	font-family: open-sans-n7, sans-serif;
}

#u30228,#u30242-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30253-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30261-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30283-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30289-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30307-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30321-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30328-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30343-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30356-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30228-5,#u30167-9,#u30168-4,#u30169-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30170-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30173-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30174-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30178-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30179-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30182-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30171-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30172-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30175-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30176-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30177-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30180-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30181-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30183-4
{
	font-family: open-sans-n3, sans-serif;
}

#u15981-4
{
	font-family: open-sans-n4, sans-serif;
}

#u9904-4,#u9906-4,#u9923-4,#u9924-4,#u9925-4,#u9974-4,#u9975-4,#u9976-4,#u10009-4,#u10010-4,#u10011-4,#u10044-4,#u10045-4,#u10046-4,#u10079-4,#u10080-4,#u10081-4,#u10114-4,#u10115-4,#u27886-4
{
	font-family: open-sans-n3, sans-serif;
}

#u27977-4,#u27994-6,#u27958-4,#u27927-6,#u27942-6,#u27909-6,#u28013-6,#u28039-4,#u28046-6,#u28076-6,#u28093-4
{
	font-family: open-sans-n6, sans-serif;
}

#u9905-4,#u23370-4,#u23381-4,#u23392-4,#u23466-4,#u23477-4,#u23488-4,#u23562-4,#u23573-4,#u10030-4,#u23644-4,#u23655-4,#u23666-4,#u23740-4,#u10105-4,#u10092-4,#u10135-4,#u10155-4,#u27982-4,#u27999-4,#u27963-4,#u27925-4,#u27945-4,#u27911-4,#u28017-4,#u28041-4,#u28049-4,#u28078-4,#u28096-4
{
	font-family: open-sans-n4, sans-serif;
}

