#u30225-4,#u17486-4
{
	font-family: open-sans-n7, sans-serif;
}

#u17490-4
{
	font-family: open-sans-n7, sans-serif;
}

#u17492-4
{
	font-family: open-sans-n7, sans-serif;
}

#u17495-4
{
	font-family: open-sans-n7, sans-serif;
}

#u30228,#u30242-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30253-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30261-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30283-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30289-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30307-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30321-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30328-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30343-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30356-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30228-5,#u30167-9,#u30168-4,#u30169-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30170-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30173-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30174-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30178-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30179-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30182-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30171-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30172-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30175-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30176-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30177-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30180-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30181-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30183-4
{
	font-family: open-sans-n3, sans-serif;
}

#u15981-4
{
	font-family: open-sans-n4, sans-serif;
}

#u2126-4,#u2128-8,#u2768-4,#u2769-4,#u2770-4,#u2892-4,#u2893-4,#u2894-4,#u2991-4,#u2992-4,#u2993-4,#u3090-4,#u3091-4,#u3092-4,#u3191-4,#u3192-4,#u3193-4,#u3308-4,#u3309-4,#u3310-4,#u3407-4,#u3408-4,#u3409-4,#u3506-4,#u3507-4,#u3508-4,#u3605-4,#u3606-4,#u3607-4,#u3704-4,#u3705-4,#u3706-4,#u3803-4,#u3804-4,#u3805-4,#u3934-4,#u3935-4,#u3936-4,#u4033-4,#u4034-4,#u4035-4,#u4132-4,#u29146-3,#u29146-5,#u29146-6,#u29146-8,#u29146-9,#u29146-10,#u14037-4
{
	font-family: open-sans-n3, sans-serif;
}

#u25871-4,#u25885-6,#u25897-4,#u25927-6,#u25951-6,#u25964-6,#u25993-6,#u26008-4,#u26028-6,#u26120-6,#u26137-4
{
	font-family: open-sans-n6, sans-serif;
}

#u2127-4,#u2143-4,#u17532-4,#u17550-4,#u17596-4,#u17607-4,#u17618-4,#u2979-4,#u17689-4,#u17707-4,#u17756-4,#u3099-4,#u17774-4,#u17820-4,#u17831-4,#u17842-4,#u17916-4,#u17927-4,#u17938-4,#u18012-4,#u18023-4,#u18034-4,#u18108-4,#u18119-4,#u18130-4,#u3632-4,#u18204-4,#u18216-4,#u3736-4,#u18255-4,#u18271-4,#u18332-4,#u18343-4,#u18354-4,#u18428-4,#u18439-4,#u18450-4,#u18538-4,#u18549-4,#u18560-4,#u18634-4,#u29146-2,#u25870-4,#u25887-4,#u25901-4,#u25926-4,#u25954-4,#u25960-4,#u25994-4,#u26009-4,#u26027-4,#u26117-4,#u26135-4
{
	font-family: open-sans-n4, sans-serif;
}

