#u30225-4,#u17486-4
{
	font-family: open-sans-n7, sans-serif;
}

#u17490-4
{
	font-family: open-sans-n7, sans-serif;
}

#u17492-4
{
	font-family: open-sans-n7, sans-serif;
}

#u17495-4
{
	font-family: open-sans-n7, sans-serif;
}

#u30228,#u30242-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30253-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30261-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30283-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30289-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30307-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30321-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30328-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30343-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30356-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30228-5,#u30167-9,#u30168-4,#u30169-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30170-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30173-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30174-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30178-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30179-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30182-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30171-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30172-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30175-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30176-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30177-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30180-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30181-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30183-4
{
	font-family: open-sans-n3, sans-serif;
}

#u15981-4
{
	font-family: open-sans-n4, sans-serif;
}

#u10543-4,#u10545-6,#u10562-4,#u10563-4,#u10564-4,#u10613-4,#u10614-4,#u10615-4,#u10648-4,#u10649-4,#u10650-4,#u10683-4,#u10684-4,#u10685-4,#u28134-4
{
	font-family: open-sans-n3, sans-serif;
}

#u28225-4,#u28242-6,#u28206-4,#u28175-6,#u28190-6,#u28157-6,#u28261-6,#u28287-4,#u28294-6,#u28324-6,#u28341-4
{
	font-family: open-sans-n6, sans-serif;
}

#u10544-4,#u10561-4,#u10576-4,#u23830-4,#u23876-4,#u23887-4,#u23898-4,#u23972-4,#u23983-4,#u23994-4,#u10712-4,#u24079-4,#u24090-4,#u28230-4,#u28247-4,#u28211-4,#u28173-4,#u28193-4,#u28159-4,#u28265-4,#u28289-4,#u28297-4,#u28326-4,#u28344-4
{
	font-family: open-sans-n4, sans-serif;
}

