#u30225-4,#u17486-4
{
	font-family: open-sans-n7, sans-serif;
}

#u17490-4
{
	font-family: open-sans-n7, sans-serif;
}

#u17492-4
{
	font-family: open-sans-n7, sans-serif;
}

#u17495-4
{
	font-family: open-sans-n7, sans-serif;
}

#u30228,#u30242-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30253-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30261-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30283-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30289-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30307-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30321-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30328-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30343-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30356-4
{
	font-family: open-sans-n8, sans-serif;
}

#u30228-5,#u30167-9,#u30168-4,#u30169-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30170-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30173-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30174-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30178-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30179-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30182-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30171-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30172-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30175-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30176-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30177-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30180-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30181-4
{
	font-family: open-sans-n3, sans-serif;
}

#u30183-4
{
	font-family: open-sans-n3, sans-serif;
}

#u15981-4
{
	font-family: open-sans-n4, sans-serif;
}

#u15645-4,#u15647-4,#u16841-4,#u16842-4,#u16843-4,#u16892-4,#u16893-4,#u16894-4,#u16927-4,#u16928-4,#u16929-4,#u16962-4,#u16963-4,#u16964-4,#u28878-4
{
	font-family: open-sans-n3, sans-serif;
}

#u28969-4,#u28986-6,#u28950-4,#u28919-6,#u28934-6,#u28901-6,#u29005-6,#u29031-4,#u29038-6,#u29068-6,#u29085-4
{
	font-family: open-sans-n6, sans-serif;
}

#u15646-4,#u25043-4,#u25056-4,#u16863-4,#u25125-4,#u25138-4,#u25165-4,#u25221-4,#u16944-4,#u25261-4,#u25303-4,#u17020-4,#u16972-4,#u28974-4,#u28991-4,#u28955-4,#u28917-4,#u28937-4,#u28903-4,#u29009-4,#u29033-4,#u29041-4,#u29070-4,#u29088-4
{
	font-family: open-sans-n4, sans-serif;
}

