.version.nosotros_taller_americano /* version checker */
{
	color: #0000F5;
	background-color: #8172A0;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 637px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -185px;
	width: 0.01px;
}

#pu17484
{
	width: 0.01px;
	margin-left: -100px;
}

#u25371
{
	z-index: 522;
	width: 471px;
	margin-right: -10000px;
	margin-top: 32px;
	left: 100px;
}

#ppu30226
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 4px;
	margin-left: 655px;
}

#pu30226
{
	width: 0.01px;
	margin-left: 12px;
}

#u30226
{
	z-index: 528;
	width: 23px;
	margin-right: -10000px;
}

#u30225-4
{
	z-index: 524;
	width: 399px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 34px;
}

#pbuttonu17485
{
	width: 0.01px;
	margin-top: 40px;
}

#buttonu17485
{
	z-index: 498;
	width: 61px;
	padding-left: 1px;
	margin-right: -10000px;
}

#buttonu17485:hover
{
	width: 61px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu17485.ButtonSelected
{
	width: 61px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u17486-4
{
	z-index: 499;
	width: 61px;
	min-height: 23px;
}

#buttonu17485:hover #u17486-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 61px;
	margin: 0px;
}

#buttonu17485.ButtonSelected #u17486-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 61px;
	margin: 0px;
}

#u17487
{
	z-index: 503;
	width: 61px;
	height: 6px;
	left: -1px;
	margin-top: 8px;
}

.ie #u17487
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#buttonu17485:hover #u17487
{
	width: 61px;
	height: 6px;
	min-height: 0px;
	margin: 8px 0px 0px;
}

.ie #buttonu17485:hover #u17487
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#buttonu17485.ButtonSelected #u17487
{
	width: 61px;
	height: 6px;
	min-height: 0px;
	margin: 8px 0px 0px;
}

#buttonu17488
{
	z-index: 504;
	width: 95px;
	margin-right: -10000px;
	left: 82px;
}

#buttonu17488:hover
{
	width: 95px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u17490-4
{
	z-index: 505;
	width: 94px;
	min-height: 23px;
	margin-left: 1px;
}

#buttonu17488:hover #u17490-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 94px;
	margin: 0px 0px 0px 1px;
}

#u17489
{
	z-index: 509;
	width: 95px;
	height: 6px;
	margin-top: 8px;
}

.ie #u17489
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#buttonu17488:hover #u17489
{
	width: 95px;
	height: 6px;
	min-height: 0px;
	margin: 8px 0px 0px;
}

.ie #buttonu17485.ButtonSelected #u17487,.ie #buttonu17488:hover #u17489
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#buttonu17488.ButtonSelected #u17489
{
	width: 95px;
	height: 6px;
	min-height: 0px;
	margin: 8px 0px 0px;
}

#buttonu17491
{
	z-index: 510;
	width: 135px;
	margin-right: -10000px;
	left: 197px;
}

#buttonu17491:hover
{
	width: 135px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu17491.ButtonSelected
{
	width: 135px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u17492-4
{
	z-index: 511;
	width: 134px;
	min-height: 23px;
	margin-left: 1px;
}

#buttonu17491:hover #u17492-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 134px;
	margin: 0px 0px 0px 1px;
}

#buttonu17491.ButtonSelected #u17492-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 134px;
	margin: 0px 0px 0px 1px;
}

#u17493
{
	z-index: 515;
	width: 134px;
	height: 6px;
	margin-top: 8px;
}

.ie #u17493
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#buttonu17491:hover #u17493
{
	width: 134px;
	height: 6px;
	min-height: 0px;
	margin: 8px 0px 0px;
}

.ie #buttonu17488.ButtonSelected #u17489,.ie #buttonu17491:hover #u17493
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#buttonu17491.ButtonSelected #u17493
{
	width: 134px;
	height: 6px;
	min-height: 0px;
	margin: 8px 0px 0px;
}

#buttonu17494
{
	z-index: 516;
	width: 95px;
	margin-right: -10000px;
	left: 350px;
}

#buttonu17488.ButtonSelected,#buttonu17494:hover
{
	width: 95px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu17494.ButtonSelected
{
	width: 95px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u17495-4
{
	z-index: 517;
	width: 94px;
	min-height: 23px;
	margin-left: 1px;
}

#buttonu17488.ButtonSelected #u17490-4,#buttonu17494:hover #u17495-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 94px;
	margin: 0px 0px 0px 1px;
}

#buttonu17494.ButtonSelected #u17495-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 94px;
	margin: 0px 0px 0px 1px;
}

#u17496
{
	z-index: 521;
	width: 95px;
	height: 6px;
	margin-top: 8px;
}

.ie #u17496
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#buttonu17494:hover #u17496
{
	width: 95px;
	height: 6px;
	min-height: 0px;
	margin: 8px 0px 0px;
}

.ie #buttonu17491.ButtonSelected #u17493,.ie #buttonu17494:hover #u17496
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#buttonu17494.ButtonSelected #u17496
{
	width: 95px;
	height: 6px;
	min-height: 0px;
	margin: 8px 0px 0px;
}

.ie #buttonu17494.ButtonSelected #u17496
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u17484,#u17484-bw
{
	z-index: 497;
	min-height: 110px;
}

#u30228-5
{
	z-index: 530;
	width: 399px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 32px;
	left: 701px;
}

#slideshowu30363
{
	z-index: 94;
	width: 0.01px;
	height: 448px;
	left: -100px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u30403
{
	position: absolute;
	width: 1200px;
	height: 448px;
	background-color: transparent;
}

#u30403popup
{
	z-index: 95;
}

#u30464
{
	z-index: 96;
	width: 1200px;
	height: 448px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u30473
{
	z-index: 98;
	width: 1200px;
	height: 448px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u30482
{
	z-index: 100;
	width: 1200px;
	height: 448px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u30491
{
	z-index: 102;
	width: 1200px;
	height: 448px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu30231
{
	width: 0.01px;
	margin-top: -403px;
}

#u30231
{
	z-index: 396;
	width: 251px;
	height: 332px;
	margin-right: -10000px;
}

#pamphletu30232
{
	z-index: 397;
	width: 0.01px;
	height: 27px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 16px;
}

#u30243popup
{
	z-index: 398;
}

#u30244
{
	z-index: 399;
	width: 212px;
	height: 27px;
	margin-right: -10000px;
}

#u30239
{
	z-index: 400;
	width: 214px;
	margin-right: -10000px;
}

#u30240
{
	width: 214px;
}

#u30240:hover
{
	width: 214px;
	min-height: 0px;
	margin: 0px;
}

#u30241
{
	z-index: 406;
	width: 14px;
	height: 27px;
	margin-right: -10000px;
}

#u30240:hover #u30241
{
	width: 14px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u30242-4
{
	z-index: 402;
	width: 191px;
	min-height: 7px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 23px;
}

#u30240:hover #u30242-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 7px;
	width: 191px;
	margin: 5px -10000px 0px 0px;
}

#pamphletu30245
{
	z-index: 407;
	width: 0.01px;
	height: 27px;
	margin-right: -10000px;
	margin-top: 46px;
	left: 16px;
}

#u30254popup
{
	z-index: 408;
}

#u30255
{
	z-index: 409;
	width: 212px;
	height: 27px;
	margin-right: -10000px;
}

#u30250
{
	z-index: 410;
	width: 214px;
	margin-right: -10000px;
}

#u30251
{
	width: 214px;
}

#u30240.PamphletThumbSelected,#u30251:hover
{
	width: 214px;
	min-height: 0px;
	margin: 0px;
}

#u30252
{
	z-index: 416;
	width: 14px;
	height: 27px;
	margin-right: -10000px;
}

#u30240.PamphletThumbSelected #u30241,#u30251:hover #u30252
{
	width: 14px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u30253-4
{
	z-index: 412;
	width: 191px;
	min-height: 7px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 23px;
}

#u30240.PamphletThumbSelected #u30242-4,#u30251:hover #u30253-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 7px;
	width: 191px;
	margin: 5px -10000px 0px 0px;
}

#pamphletu30258
{
	z-index: 417;
	width: 0.01px;
	height: 27px;
	margin-right: -10000px;
	margin-top: 76px;
	left: 16px;
}

#u30263popup
{
	z-index: 418;
}

#u30264
{
	z-index: 419;
	width: 212px;
	height: 27px;
	margin-right: -10000px;
}

#u30259
{
	z-index: 420;
	width: 214px;
	margin-right: -10000px;
}

#u30260
{
	width: 214px;
}

#u30251.PamphletThumbSelected,#u30260:hover
{
	width: 214px;
	min-height: 0px;
	margin: 0px;
}

#u30262
{
	z-index: 426;
	width: 14px;
	height: 27px;
	margin-right: -10000px;
}

#u30251.PamphletThumbSelected #u30252,#u30260:hover #u30262
{
	width: 14px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u30261-4
{
	z-index: 422;
	width: 191px;
	min-height: 7px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 23px;
}

#u30251.PamphletThumbSelected #u30253-4,#u30260:hover #u30261-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 7px;
	width: 191px;
	margin: 5px -10000px 0px 0px;
}

#pamphletu30271
{
	z-index: 427;
	width: 0.01px;
	height: 27px;
	margin-right: -10000px;
	margin-top: 106px;
	left: 16px;
}

#u30272popup
{
	z-index: 428;
}

#u30273
{
	z-index: 429;
	width: 212px;
	height: 27px;
	margin-right: -10000px;
}

#u30280
{
	z-index: 430;
	width: 214px;
	margin-right: -10000px;
}

#u30281
{
	width: 214px;
}

#u30260.PamphletThumbSelected,#u30281:hover
{
	width: 214px;
	min-height: 0px;
	margin: 0px;
}

#u30282
{
	z-index: 436;
	width: 14px;
	height: 27px;
	margin-right: -10000px;
}

#u30260.PamphletThumbSelected #u30262,#u30281:hover #u30282
{
	width: 14px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u30283-4
{
	z-index: 432;
	width: 191px;
	min-height: 7px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 23px;
}

#u30260.PamphletThumbSelected #u30261-4,#u30281:hover #u30283-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 7px;
	width: 191px;
	margin: 5px -10000px 0px 0px;
}

#pamphletu30284
{
	z-index: 437;
	width: 0.01px;
	height: 27px;
	margin-right: -10000px;
	margin-top: 137px;
	left: 16px;
}

#u30293popup
{
	z-index: 438;
}

#u30294
{
	z-index: 439;
	width: 212px;
	height: 27px;
	margin-right: -10000px;
}

#u30287
{
	z-index: 440;
	width: 214px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u30288
{
	width: 214px;
}

#u30281.PamphletThumbSelected,#u30288:hover
{
	width: 214px;
	min-height: 0px;
	margin: 0px;
}

#u30290
{
	z-index: 446;
	width: 14px;
	height: 26px;
	margin-right: -10000px;
}

#u30288:hover #u30290
{
	width: 14px;
	height: 26px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u30288.PamphletThumbSelected #u30290
{
	width: 14px;
	height: 26px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u30289-4
{
	z-index: 442;
	width: 191px;
	min-height: 7px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 23px;
}

#u30281.PamphletThumbSelected #u30283-4,#u30288:hover #u30289-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 7px;
	width: 191px;
	margin: 5px -10000px 0px 0px;
}

#pamphletu30297
{
	z-index: 447;
	width: 0.01px;
	height: 27px;
	margin-right: -10000px;
	margin-top: 168px;
	left: 16px;
}

#u30308popup
{
	z-index: 448;
}

#u30309
{
	z-index: 449;
	width: 212px;
	height: 27px;
	margin-right: -10000px;
}

#u30304
{
	z-index: 450;
	width: 214px;
	margin-right: -10000px;
}

#u30305
{
	width: 214px;
}

#u30288.PamphletThumbSelected,#u30305:hover
{
	width: 214px;
	min-height: 0px;
	margin: 0px;
}

#u30306
{
	z-index: 456;
	width: 14px;
	height: 27px;
	margin-right: -10000px;
}

#u30281.PamphletThumbSelected #u30282,#u30305:hover #u30306
{
	width: 14px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u30307-4
{
	z-index: 452;
	width: 191px;
	min-height: 7px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 23px;
}

#u30288.PamphletThumbSelected #u30289-4,#u30305:hover #u30307-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 7px;
	width: 191px;
	margin: 5px -10000px 0px 0px;
}

#pamphletu30310
{
	z-index: 457;
	width: 0.01px;
	height: 27px;
	margin-right: -10000px;
	margin-top: 198px;
	left: 16px;
}

#u30317popup
{
	z-index: 458;
}

#u30318
{
	z-index: 459;
	width: 212px;
	height: 27px;
	margin-right: -10000px;
}

#u30319
{
	z-index: 460;
	width: 214px;
	margin-right: -10000px;
}

#u30320
{
	width: 214px;
}

#u30305.PamphletThumbSelected,#u30320:hover
{
	width: 214px;
	min-height: 0px;
	margin: 0px;
}

#u30322
{
	z-index: 466;
	width: 14px;
	height: 27px;
	margin-right: -10000px;
}

#u30305.PamphletThumbSelected #u30306,#u30320:hover #u30322
{
	width: 14px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u30321-4
{
	z-index: 462;
	width: 191px;
	min-height: 7px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 23px;
}

#u30305.PamphletThumbSelected #u30307-4,#u30320:hover #u30321-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 7px;
	width: 191px;
	margin: 5px -10000px 0px 0px;
}

#pamphletu30323
{
	z-index: 467;
	width: 0.01px;
	height: 27px;
	margin-right: -10000px;
	margin-top: 228px;
	left: 16px;
}

#u30330popup
{
	z-index: 468;
}

#u30331
{
	z-index: 469;
	width: 212px;
	height: 27px;
	margin-right: -10000px;
}

#u30326
{
	z-index: 470;
	width: 214px;
	margin-right: -10000px;
}

#u30327
{
	width: 214px;
}

#u30320.PamphletThumbSelected,#u30327:hover
{
	width: 214px;
	min-height: 0px;
	margin: 0px;
}

#u30329
{
	z-index: 476;
	width: 14px;
	height: 27px;
	margin-right: -10000px;
}

#u30320.PamphletThumbSelected #u30322,#u30327:hover #u30329
{
	width: 14px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u30328-4
{
	z-index: 472;
	width: 191px;
	min-height: 7px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 23px;
}

#u30320.PamphletThumbSelected #u30321-4,#u30327:hover #u30328-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 7px;
	width: 191px;
	margin: 5px -10000px 0px 0px;
}

#pamphletu30336
{
	z-index: 477;
	width: 0.01px;
	height: 27px;
	margin-right: -10000px;
	margin-top: 258px;
	left: 16px;
}

#u30339popup
{
	z-index: 478;
}

#u30340
{
	z-index: 479;
	width: 212px;
	height: 27px;
	margin-right: -10000px;
}

#u30341
{
	z-index: 480;
	width: 214px;
	margin-right: -10000px;
}

#u30342
{
	width: 214px;
}

#u30327.PamphletThumbSelected,#u30342:hover
{
	width: 214px;
	min-height: 0px;
	margin: 0px;
}

#u30344
{
	z-index: 486;
	width: 14px;
	height: 27px;
	margin-right: -10000px;
}

#u30327.PamphletThumbSelected #u30329,#u30342:hover #u30344
{
	width: 14px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u30343-4
{
	z-index: 482;
	width: 191px;
	min-height: 7px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 23px;
}

#u30327.PamphletThumbSelected #u30328-4,#u30342:hover #u30343-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 7px;
	width: 191px;
	margin: 5px -10000px 0px 0px;
}

#pamphletu30349
{
	z-index: 487;
	width: 0.01px;
	height: 27px;
	margin-right: -10000px;
	margin-top: 288px;
	left: 16px;
}

#u30360popup
{
	z-index: 488;
}

#u30243,#u30254,#u30263,#u30272,#u30293,#u30308,#u30317,#u30330,#u30339,#u30360
{
	width: 212px;
	left: 2px;
}

#u30361
{
	z-index: 489;
	width: 212px;
	height: 27px;
	margin-right: -10000px;
}

#u30354
{
	z-index: 490;
	width: 214px;
	margin-right: -10000px;
}

#u30355
{
	width: 214px;
}

#u30342.PamphletThumbSelected,#u30355:hover
{
	width: 214px;
	min-height: 0px;
	margin: 0px;
}

#u30355.PamphletThumbSelected
{
	width: 214px;
	min-height: 0px;
	margin: 0px;
}

#u30357
{
	z-index: 496;
	width: 14px;
	height: 27px;
	margin-right: -10000px;
}

#u30342.PamphletThumbSelected #u30344,#u30355:hover #u30357
{
	width: 14px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u30355.PamphletThumbSelected #u30357
{
	width: 14px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u30356-4
{
	z-index: 492;
	width: 191px;
	min-height: 7px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 23px;
}

#u30342.PamphletThumbSelected #u30343-4,#u30355:hover #u30356-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 7px;
	width: 191px;
	margin: 5px -10000px 0px 0px;
}

#u30355.PamphletThumbSelected #u30356-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 7px;
	width: 191px;
	margin: 5px -10000px 0px 0px;
}

#u1840-4
{
	z-index: 104;
	width: 1000px;
	min-height: 41px;
	background-color: transparent;
	line-height: 46px;
	color: #222222;
	font-size: 38px;
	letter-spacing: -2px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-top: 49px;
	position: relative;
}

#u1841-4
{
	z-index: 108;
	width: 861px;
	min-height: 41px;
	background-color: transparent;
	line-height: 22px;
	color: #222222;
	font-size: 18px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 41px;
	margin-top: 9px;
	position: relative;
}

#u1842-6
{
	z-index: 112;
	width: 861px;
	min-height: 41px;
	background-color: transparent;
	line-height: 22px;
	color: #222222;
	font-size: 18px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 41px;
	margin-top: 32px;
	position: relative;
}

#pu16076
{
	width: 0.01px;
	margin-top: 56px;
}

#u16076
{
	z-index: 126;
	width: 316px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u16082
{
	z-index: 128;
	width: 316px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 342px;
}

#u16087
{
	z-index: 130;
	width: 316px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 684px;
}

#u1879-7
{
	z-index: 118;
	width: 904px;
	min-height: 41px;
	background-color: transparent;
	line-height: 22px;
	color: #222222;
	font-size: 18px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 41px;
	margin-top: 68px;
	position: relative;
}

#u1880
{
	z-index: 125;
	height: 628px;
	background: transparent url("../images/10-nosotros-taller-americano.jpg") no-repeat left top;
}

#u1880-bw
{
	z-index: 125;
	margin-top: 35px;
	height: 628px;
}

#u16109-6
{
	z-index: 132;
	width: 861px;
	min-height: 41px;
	background-color: transparent;
	line-height: 22px;
	color: #222222;
	font-size: 18px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	margin-left: 41px;
	margin-top: 62px;
	position: relative;
}

#u16110-6
{
	z-index: 138;
	width: 861px;
	min-height: 41px;
	background-color: transparent;
	line-height: 22px;
	color: #222222;
	font-size: 18px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	margin-left: 41px;
	margin-top: 44px;
	position: relative;
}

#u16111-6
{
	z-index: 144;
	width: 861px;
	min-height: 41px;
	background-color: transparent;
	line-height: 22px;
	color: #222222;
	font-size: 18px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	margin-left: 41px;
	margin-top: 44px;
	position: relative;
}

#u16109-2,#u16110-2,#u16111-2
{
	font-weight: 400;
}

#u16109-4,#u16110-4,#u16111-4
{
	font-weight: 300;
}

#pu30194
{
	width: 0.01px;
	margin-top: 49px;
}

#u30194
{
	z-index: 390;
	width: 316px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u30212
{
	z-index: 392;
	width: 316px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 342px;
}

#u30218
{
	z-index: 394;
	width: 316px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 684px;
}

#u26150-4
{
	z-index: 150;
	width: 861px;
	min-height: 41px;
	background-color: transparent;
	line-height: 46px;
	color: #222222;
	font-size: 38px;
	letter-spacing: -2px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	left: -1px;
	margin-top: 120px;
	position: relative;
}

#pamphletu26151
{
	z-index: 154;
	width: 0.01px;
	height: 368px;
	left: -50px;
	margin-top: 25px;
	position: relative;
}

#u26155
{
	position: absolute;
	width: 1015px;
	background-color: transparent;
	left: 49px;
}

#u26155popup
{
	z-index: 155;
}

#u26214
{
	z-index: 156;
	width: 1015px;
	height: 357px;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#pamphletu26234
{
	z-index: 163;
	width: 0.01px;
	height: 335px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u26239popup
{
	z-index: 164;
}

#u26240
{
	z-index: 165;
	width: 319px;
	height: 84px;
	border-style: none;
	border-color: #999999;
	background-color: #4F4F4F;
	background-color: rgba(0,0,0,0.69);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0,0,0,0.69);
}

#u26241-4
{
	z-index: 173;
	width: 172px;
	min-height: 15px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	letter-spacing: -1px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 15px;
}

#u26242
{
	z-index: 166;
	width: 1px;
	height: 83px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u26243
{
	z-index: 167;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 37px;
}

#u26246-4
{
	z-index: 169;
	width: 67px;
	min-height: 15px;
	background-color: transparent;
	line-height: 13px;
	color: #FFFFFF;
	font-size: 11px;
	letter-spacing: -1px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	left: 14px;
}

#u26245
{
	z-index: 177;
	width: 1px;
	height: 95px;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0,1,-1,0,48,47);
	-ms-transform: matrix(0,1,-1,0,48,47);
	transform: matrix(0,1,-1,0,48,47);
	margin-bottom: -24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 47px;
}

#u26237
{
	z-index: 178;
	width: 319px;
	position: relative;
	margin-right: -10000px;
}

#u26238
{
	position: absolute;
	width: 319px;
	height: 335px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.ie #u26238
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u26238:hover
{
	background-color: transparent;
	width: 319px;
	height: 335px;
	min-height: 0px;
	margin: 0px;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

#u26232
{
	z-index: 157;
	width: 319px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#pamphletu26255
{
	z-index: 180;
	width: 0.01px;
	height: 335px;
	position: relative;
	margin-right: -10000px;
	left: 342px;
}

#u26256popup
{
	z-index: 181;
}

#u26257
{
	z-index: 182;
	width: 319px;
	height: 84px;
	border-style: none;
	border-color: #999999;
	background-color: #4F4F4F;
	background-color: rgba(0,0,0,0.69);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0,0,0,0.69);
}

#u26258-6
{
	z-index: 190;
	width: 172px;
	min-height: 15px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	letter-spacing: -1px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 15px;
}

#u26259
{
	z-index: 183;
	width: 1px;
	height: 83px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u26261
{
	z-index: 184;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 37px;
}

#u26263-4
{
	z-index: 186;
	width: 67px;
	min-height: 15px;
	background-color: transparent;
	line-height: 13px;
	color: #FFFFFF;
	font-size: 11px;
	letter-spacing: -1px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	left: 14px;
}

#u26260
{
	z-index: 196;
	width: 1px;
	height: 95px;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0,1,-1,0,48,47);
	-ms-transform: matrix(0,1,-1,0,48,47);
	transform: matrix(0,1,-1,0,48,47);
	margin-bottom: -24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 47px;
}

#u26270
{
	z-index: 197;
	width: 319px;
	position: relative;
	margin-right: -10000px;
}

#u26271
{
	position: absolute;
	width: 319px;
	height: 335px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.ie #u26238:hover,.ie #u26271
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u26271:hover
{
	background-color: transparent;
	width: 319px;
	height: 335px;
	min-height: 0px;
	margin: 0px;
}

#u26253
{
	z-index: 159;
	width: 319px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 342px;
}

#pamphletu26215
{
	z-index: 199;
	width: 0.01px;
	height: 335px;
	position: relative;
	margin-right: -10000px;
	left: 682px;
}

#u26220popup
{
	z-index: 200;
}

#u26221
{
	z-index: 201;
	width: 319px;
	height: 84px;
	border-style: none;
	border-color: #999999;
	background-color: #4F4F4F;
	background-color: rgba(0,0,0,0.69);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0,0,0,0.69);
}

#u26222-4
{
	z-index: 209;
	width: 172px;
	min-height: 15px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	letter-spacing: -1px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 15px;
}

#u26226
{
	z-index: 202;
	width: 1px;
	height: 83px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u26224
{
	z-index: 203;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 37px;
}

#u26227-4
{
	z-index: 205;
	width: 67px;
	min-height: 15px;
	background-color: transparent;
	line-height: 13px;
	color: #FFFFFF;
	font-size: 11px;
	letter-spacing: -1px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	left: 14px;
}

#u26223
{
	z-index: 213;
	width: 1px;
	height: 95px;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0,1,-1,0,48,47);
	-ms-transform: matrix(0,1,-1,0,48,47);
	transform: matrix(0,1,-1,0,48,47);
	margin-bottom: -24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 47px;
}

#u26230
{
	z-index: 214;
	width: 319px;
	position: relative;
	margin-right: -10000px;
}

#u26231
{
	position: absolute;
	width: 319px;
	height: 335px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.ie #u26271:hover,.ie #u26231
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u26231:hover
{
	background-color: transparent;
	width: 319px;
	height: 335px;
	min-height: 0px;
	margin: 0px;
}

#u26251
{
	z-index: 161;
	width: 319px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 683px;
}

#u26156
{
	z-index: 216;
	width: 1015px;
	height: 357px;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#pamphletu26180
{
	z-index: 223;
	width: 0.01px;
	height: 335px;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#u26187popup
{
	z-index: 224;
}

#u26188
{
	z-index: 225;
	width: 319px;
	height: 84px;
	border-style: none;
	border-color: #999999;
	background-color: #4F4F4F;
	background-color: rgba(0,0,0,0.69);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0,0,0,0.69);
}

#u26191-6
{
	z-index: 233;
	width: 172px;
	min-height: 15px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	letter-spacing: -1px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 15px;
}

#u26192
{
	z-index: 226;
	width: 1px;
	height: 83px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u26193
{
	z-index: 227;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 37px;
}

#u26189-4
{
	z-index: 229;
	width: 67px;
	min-height: 15px;
	background-color: transparent;
	line-height: 13px;
	color: #FFFFFF;
	font-size: 11px;
	letter-spacing: -1px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	left: 14px;
}

#u26190
{
	z-index: 239;
	width: 1px;
	height: 95px;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0,1,-1,0,48,47);
	-ms-transform: matrix(0,1,-1,0,48,47);
	transform: matrix(0,1,-1,0,48,47);
	margin-bottom: -24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 47px;
}

#u26195
{
	z-index: 240;
	width: 319px;
	position: relative;
	margin-right: -10000px;
}

#u26196
{
	position: absolute;
	width: 319px;
	height: 335px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.ie #u26231:hover,.ie #u26196
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u26196:hover
{
	background-color: transparent;
	width: 319px;
	height: 335px;
	min-height: 0px;
	margin: 0px;
}

#u26178
{
	z-index: 217;
	width: 319px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 2px;
}

#pamphletu26197
{
	z-index: 242;
	width: 0.01px;
	height: 335px;
	position: relative;
	margin-right: -10000px;
	left: 342px;
}

#u26204popup
{
	z-index: 243;
}

#u26205
{
	z-index: 244;
	width: 319px;
	height: 84px;
	border-style: none;
	border-color: #999999;
	background-color: #4F4F4F;
	background-color: rgba(0,0,0,0.69);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0,0,0,0.69);
}

#u26206-6
{
	z-index: 252;
	width: 172px;
	min-height: 15px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	letter-spacing: -1px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 15px;
}

#u26207
{
	z-index: 245;
	width: 1px;
	height: 83px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u26210
{
	z-index: 246;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 37px;
}

#u26209-4
{
	z-index: 248;
	width: 67px;
	min-height: 15px;
	background-color: transparent;
	line-height: 13px;
	color: #FFFFFF;
	font-size: 11px;
	letter-spacing: -1px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	left: 14px;
}

#u26208
{
	z-index: 258;
	width: 1px;
	height: 95px;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0,1,-1,0,48,47);
	-ms-transform: matrix(0,1,-1,0,48,47);
	transform: matrix(0,1,-1,0,48,47);
	margin-bottom: -24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 47px;
}

#u26212
{
	z-index: 259;
	width: 319px;
	position: relative;
	margin-right: -10000px;
}

#u26213
{
	position: absolute;
	width: 319px;
	height: 335px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.ie #u26196:hover,.ie #u26213
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u26213:hover
{
	background-color: transparent;
	width: 319px;
	height: 335px;
	min-height: 0px;
	margin: 0px;
}

#u26159
{
	z-index: 219;
	width: 319px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 342px;
}

#pamphletu26161
{
	z-index: 261;
	width: 0.01px;
	height: 335px;
	position: relative;
	margin-right: -10000px;
	left: 682px;
}

#u26168popup
{
	z-index: 262;
}

#u26169
{
	z-index: 263;
	width: 319px;
	height: 84px;
	border-style: none;
	border-color: #999999;
	background-color: #4F4F4F;
	background-color: rgba(0,0,0,0.69);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0,0,0,0.69);
}

#u26173-6
{
	z-index: 271;
	width: 172px;
	min-height: 15px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	letter-spacing: -1px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 15px;
}

#u26170
{
	z-index: 264;
	width: 1px;
	height: 83px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u26171
{
	z-index: 265;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 37px;
}

#u26175-4
{
	z-index: 267;
	width: 67px;
	min-height: 15px;
	background-color: transparent;
	line-height: 13px;
	color: #FFFFFF;
	font-size: 11px;
	letter-spacing: -1px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	left: 14px;
}

#u26174
{
	z-index: 277;
	width: 1px;
	height: 95px;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0,1,-1,0,48,47);
	-ms-transform: matrix(0,1,-1,0,48,47);
	transform: matrix(0,1,-1,0,48,47);
	margin-bottom: -24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 47px;
}

#u26162
{
	z-index: 278;
	width: 319px;
	position: relative;
	margin-right: -10000px;
}

#u26163
{
	position: absolute;
	width: 319px;
	height: 335px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.ie #u26213:hover,.ie #u26163
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u26163:hover
{
	background-color: transparent;
	width: 319px;
	height: 335px;
	min-height: 0px;
	margin: 0px;
}

#u26157
{
	z-index: 221;
	width: 319px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 683px;
}

#u26272
{
	z-index: 280;
	width: 1015px;
	height: 357px;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#pamphletu26273
{
	z-index: 287;
	width: 0.01px;
	height: 335px;
	position: relative;
}

#u26274popup
{
	z-index: 288;
}

#u26275
{
	z-index: 289;
	width: 319px;
	height: 84px;
	border-style: none;
	border-color: #999999;
	background-color: #4F4F4F;
	background-color: rgba(0,0,0,0.69);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0,0,0,0.69);
}

#u26277-6
{
	z-index: 297;
	width: 172px;
	min-height: 15px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	letter-spacing: -1px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 15px;
}

#u26276
{
	z-index: 290;
	width: 1px;
	height: 83px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u26278
{
	z-index: 291;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 37px;
}

#u26281-4
{
	z-index: 293;
	width: 67px;
	min-height: 15px;
	background-color: transparent;
	line-height: 13px;
	color: #FFFFFF;
	font-size: 11px;
	letter-spacing: -1px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	left: 14px;
}

#u26280
{
	z-index: 303;
	width: 1px;
	height: 95px;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0,1,-1,0,48,47);
	-ms-transform: matrix(0,1,-1,0,48,47);
	transform: matrix(0,1,-1,0,48,47);
	margin-bottom: -24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 47px;
}

#u26282
{
	z-index: 304;
	width: 319px;
	position: relative;
	margin-right: -10000px;
	left: 3px;
}

#u26283
{
	position: absolute;
	width: 319px;
	height: 335px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.ie #u26163:hover,.ie #u26283
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u26283:hover
{
	background-color: transparent;
	width: 319px;
	height: 335px;
	min-height: 0px;
	margin: 0px;
}

#u26328
{
	z-index: 281;
	width: 319px;
	background-color: transparent;
	margin-left: 2px;
	top: -335px;
	margin-bottom: -335px;
	position: relative;
}

#pamphletu26290
{
	z-index: 306;
	width: 0.01px;
	height: 335px;
	position: relative;
	margin-right: -10000px;
	left: 343px;
}

#u26299popup
{
	z-index: 307;
}

#u26300
{
	z-index: 308;
	width: 319px;
	height: 84px;
	border-style: none;
	border-color: #999999;
	background-color: #4F4F4F;
	background-color: rgba(0,0,0,0.69);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0,0,0,0.69);
}

#u26303-4
{
	z-index: 316;
	width: 172px;
	min-height: 15px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	letter-spacing: -1px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 15px;
}

#u26306
{
	z-index: 309;
	width: 1px;
	height: 83px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u26301
{
	z-index: 310;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 37px;
}

#u26305-4
{
	z-index: 312;
	width: 67px;
	min-height: 15px;
	background-color: transparent;
	line-height: 13px;
	color: #FFFFFF;
	font-size: 11px;
	letter-spacing: -1px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	left: 14px;
}

#u26304
{
	z-index: 320;
	width: 1px;
	height: 95px;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0,1,-1,0,48,47);
	-ms-transform: matrix(0,1,-1,0,48,47);
	transform: matrix(0,1,-1,0,48,47);
	margin-bottom: -24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 47px;
}

#u26293
{
	z-index: 321;
	width: 319px;
	position: relative;
	margin-right: -10000px;
}

#u26294
{
	position: absolute;
	width: 319px;
	height: 335px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.ie #u26283:hover,.ie #u26294
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u26294:hover
{
	background-color: transparent;
	width: 319px;
	height: 335px;
	min-height: 0px;
	margin: 0px;
}

#u26324
{
	z-index: 283;
	width: 319px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 342px;
}

#pamphletu26307
{
	z-index: 323;
	width: 0.01px;
	height: 335px;
	position: relative;
	margin-right: -10000px;
	left: 684px;
}

#u26308popup
{
	z-index: 324;
}

#u26309
{
	z-index: 325;
	width: 319px;
	height: 84px;
	border-style: none;
	border-color: #999999;
	background-color: #4F4F4F;
	background-color: rgba(0,0,0,0.69);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0,0,0,0.69);
}

#u26310-6
{
	z-index: 333;
	width: 172px;
	min-height: 15px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	letter-spacing: -1px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 15px;
}

#u26312
{
	z-index: 326;
	width: 1px;
	height: 83px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u26314
{
	z-index: 327;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 37px;
}

#u26313-4
{
	z-index: 329;
	width: 67px;
	min-height: 15px;
	background-color: transparent;
	line-height: 13px;
	color: #FFFFFF;
	font-size: 11px;
	letter-spacing: -1px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	left: 14px;
}

#u26311
{
	z-index: 339;
	width: 1px;
	height: 95px;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0,1,-1,0,48,47);
	-ms-transform: matrix(0,1,-1,0,48,47);
	transform: matrix(0,1,-1,0,48,47);
	margin-bottom: -24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 47px;
}

#u26322
{
	z-index: 340;
	width: 319px;
	position: relative;
	margin-right: -10000px;
}

#u26323
{
	position: absolute;
	width: 319px;
	height: 335px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.ie #u26294:hover,.ie #u26323
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u26323:hover
{
	background-color: transparent;
	width: 319px;
	height: 335px;
	min-height: 0px;
	margin: 0px;
}

#u26326
{
	z-index: 285;
	width: 319px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 683px;
}

#u26330
{
	z-index: 342;
	width: 1015px;
	height: 357px;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#ppamphletu26273,#ppamphletu26331
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#pamphletu26331
{
	z-index: 347;
	width: 0.01px;
	height: 335px;
	position: relative;
}

#u26336popup
{
	z-index: 348;
}

#u26337
{
	z-index: 349;
	width: 319px;
	height: 84px;
	border-style: none;
	border-color: #999999;
	background-color: #4F4F4F;
	background-color: rgba(0,0,0,0.69);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0,0,0,0.69);
}

#u26340-6
{
	z-index: 357;
	width: 172px;
	min-height: 15px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	letter-spacing: -1px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 15px;
}

#u26341
{
	z-index: 350;
	width: 1px;
	height: 83px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u26338
{
	z-index: 351;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 37px;
}

#u26342-4
{
	z-index: 353;
	width: 67px;
	min-height: 15px;
	background-color: transparent;
	line-height: 13px;
	color: #FFFFFF;
	font-size: 11px;
	letter-spacing: -1px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	left: 14px;
}

#u26343
{
	z-index: 363;
	width: 1px;
	height: 95px;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0,1,-1,0,48,47);
	-ms-transform: matrix(0,1,-1,0,48,47);
	transform: matrix(0,1,-1,0,48,47);
	margin-bottom: -24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 47px;
}

#u26344
{
	z-index: 364;
	width: 319px;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u26345
{
	position: absolute;
	width: 319px;
	height: 335px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.ie #u26323:hover,.ie #u26345
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u26345:hover
{
	background-color: transparent;
	width: 319px;
	height: 335px;
	min-height: 0px;
	margin: 0px;
}

#u26367
{
	z-index: 343;
	width: 319px;
	background-color: transparent;
	top: -335px;
	margin-bottom: -335px;
	position: relative;
}

#pamphletu26350
{
	z-index: 366;
	width: 0.01px;
	height: 335px;
	position: relative;
	margin-right: -10000px;
	left: 341px;
}

#u26239,#u26256,#u26220,#u26187,#u26204,#u26168,#u26274,#u26299,#u26308,#u26336,#u26353
{
	position: absolute;
	width: 319px;
	background-color: transparent;
	top: 251px;
}

#u26353popup
{
	z-index: 367;
}

#u26354
{
	z-index: 368;
	width: 319px;
	height: 84px;
	border-style: none;
	border-color: #999999;
	background-color: #4F4F4F;
	background-color: rgba(0,0,0,0.69);
	margin-right: -10000px;
	position: relative;
	-pie-background: rgba(0,0,0,0.69);
}

#u26357-4
{
	z-index: 376;
	width: 172px;
	min-height: 15px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-size: 20px;
	letter-spacing: -1px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 15px;
}

#pu26242,#pu26259,#pu26226,#pu26192,#pu26207,#pu26170,#pu26276,#pu26306,#pu26312,#pu26341,#pu26355
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 1px;
	margin-left: 224px;
}

#u26355
{
	z-index: 369;
	width: 1px;
	height: 83px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u26358
{
	z-index: 370;
	width: 24px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 37px;
}

#u26360-4
{
	z-index: 372;
	width: 67px;
	min-height: 15px;
	background-color: transparent;
	line-height: 13px;
	color: #FFFFFF;
	font-size: 11px;
	letter-spacing: -1px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	left: 14px;
}

#u26356
{
	z-index: 380;
	width: 1px;
	height: 95px;
	background-color: #FFFFFF;
	-webkit-transform: matrix(0,1,-1,0,48,47);
	-ms-transform: matrix(0,1,-1,0,48,47);
	transform: matrix(0,1,-1,0,48,47);
	margin-bottom: -24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 47px;
}

#u26365
{
	z-index: 381;
	width: 319px;
	position: relative;
	margin-right: -10000px;
}

#u26366
{
	position: absolute;
	width: 319px;
	height: 335px;
	border-color: #DEDEDE;
	background-color: transparent;
}

.ie #u26345:hover,.ie #u26366
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u26366.PamphletThumbSelected
{
	background-color: transparent;
	width: 319px;
	height: 335px;
	min-height: 0px;
	margin: 0px;
}

#u26348
{
	z-index: 345;
	width: 319px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 341px;
}

#u26369
{
	z-index: 383;
	width: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 367px;
	left: 60px;
}

#u26371
{
	position: absolute;
	width: 1px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
}

.ie #u26366.PamphletThumbSelected,.ie #u26371
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u26371:hover
{
	border-style: none;
	border-color: transparent;
	width: 1px;
	height: 1px;
	min-height: 0px;
	margin: 0px;
}

.ie #u26371:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u26371.PamphletThumbSelected
{
	border-radius: 10px;
	width: 1px;
	height: 1px;
	min-height: 0px;
	margin: 0px;
}

#u26370
{
	position: absolute;
	width: 1px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	left: 5px;
}

.ie #u26371.PamphletThumbSelected,.ie #u26370
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u26370:hover
{
	border-style: none;
	border-color: transparent;
	width: 1px;
	height: 1px;
	min-height: 0px;
	margin: 0px;
}

.ie #u26370:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u26370.PamphletThumbSelected
{
	border-radius: 10px;
	width: 1px;
	height: 1px;
	min-height: 0px;
	margin: 0px;
}

#u26372
{
	position: absolute;
	width: 1px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	left: 10px;
}

.ie #u26370.PamphletThumbSelected,.ie #u26372
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u26372:hover
{
	border-style: none;
	border-color: transparent;
	width: 1px;
	height: 1px;
	min-height: 0px;
	margin: 0px;
}

.ie #u26372:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u26372.PamphletThumbSelected
{
	border-radius: 10px;
	width: 1px;
	height: 1px;
	min-height: 0px;
	margin: 0px;
}

#u26373
{
	position: absolute;
	width: 1px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
	left: 15px;
}

.ie #u26372.PamphletThumbSelected,.ie #u26373
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u26373:hover
{
	border-style: none;
	border-color: transparent;
	width: 1px;
	height: 1px;
	min-height: 0px;
	margin: 0px;
}

.ie #u26373:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u26373.PamphletThumbSelected
{
	border-radius: 10px;
	width: 1px;
	height: 1px;
	min-height: 0px;
	margin: 0px;
}

.ie #u26373.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u26374
{
	position: absolute;
	width: 41px;
	height: 94px;
	border-color: #999999;
	top: 139px;
	background: transparent url("../images/flecha-atras.png") no-repeat left top;
}

#u26374:hover
{
	background-repeat: no-repeat;
	background-position: left top;
	opacity: 0.73;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=73)";
	filter: alpha(opacity=73);
	width: 41px;
	height: 94px;
	min-height: 0px;
	margin: 0px;
}

#u26152
{
	position: absolute;
	width: 42px;
	height: 95px;
	border-color: #999999;
	top: 139px;
	left: 1059px;
	background: transparent url("../images/flecha-adelante.png") no-repeat left top;
}

#u26152:hover
{
	width: 42px;
	height: 95px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/flecha-adelante-u26152-r-fr.png") no-repeat left top;
}

#pu1639
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 82px;
}

#u1639
{
	z-index: 2;
	min-height: 141px;
	padding-bottom: 19px;
}

#u17484_align_to_page,#u1639_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	left: -100px;
}

#pu30165
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 34px;
	margin-left: 100px;
}

#u30165
{
	z-index: 19;
	width: 232px;
}

#u30167-9
{
	z-index: 21;
	width: 264px;
	min-height: 49px;
	margin-top: 18px;
}

#pu30168-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 21px;
	margin-left: 472px;
}

#u30168-4
{
	z-index: 30;
	width: 52px;
	min-height: 16px;
}

#u30169-4
{
	z-index: 34;
	width: 52px;
	min-height: 16px;
	margin-top: 21px;
}

#u30169-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 52px;
	margin: 21px 0px 0px;
}

#u30170-4
{
	z-index: 38;
	width: 72px;
	min-height: 16px;
}

#u30170-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 72px;
	margin: 0px;
}

#u30173-4
{
	z-index: 50;
	width: 52px;
	min-height: 16px;
	margin-top: 32px;
}

#u30173-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 52px;
	margin: 32px 0px 0px;
}

#pu30174-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 60px;
	margin-left: 582px;
}

#u30174-4
{
	z-index: 54;
	width: 107px;
	min-height: 16px;
}

#u30174-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 107px;
	margin: 0px;
}

#u30178-4
{
	z-index: 70;
	width: 107px;
	min-height: 16px;
	margin-top: 48px;
}

#u30178-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 107px;
	margin: 48px 0px 0px;
}

#pu30179-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 60px;
	margin-left: 721px;
}

#u30179-4
{
	z-index: 74;
	width: 111px;
	min-height: 16px;
}

#u30179-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 111px;
	margin: 0px;
}

#u30182-4
{
	z-index: 86;
	width: 92px;
	min-height: 16px;
	margin-top: 32px;
}

#u30182-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 92px;
	margin: 32px 0px 0px;
}

#pu17472
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 30px;
	margin-left: 949px;
}

#u17472
{
	z-index: 11;
	width: 58px;
}

#u17476
{
	z-index: 15;
	width: 40px;
	margin-left: 9px;
	margin-top: 19px;
}

#pu17474
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 30px;
	margin-left: 1020px;
}

#u17474
{
	z-index: 13;
	width: 54px;
	margin-left: 9px;
}

#u17478
{
	z-index: 17;
	width: 80px;
	margin-top: 26px;
}

#u1639-bw
{
	z-index: 2;
	min-height: 141px;
}

#u30171-4
{
	z-index: 42;
	width: 78px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 92px;
	left: 472px;
}

#u30171-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 78px;
	margin: 92px -10000px 0px 0px;
}

#u30172-4
{
	z-index: 46;
	width: 96px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 108px;
	left: 472px;
}

#u30172-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 96px;
	margin: 108px -10000px 0px 0px;
}

#u30175-4
{
	z-index: 58;
	width: 107px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 76px;
	left: 582px;
}

#u30175-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 107px;
	margin: 76px -10000px 0px 0px;
}

#u30176-4
{
	z-index: 62;
	width: 107px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 92px;
	left: 582px;
}

#u30176-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 107px;
	margin: 92px -10000px 0px 0px;
}

#u30177-4
{
	z-index: 66;
	width: 111px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 108px;
	left: 582px;
}

#u30177-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 111px;
	margin: 108px -10000px 0px 0px;
}

#u30180-4
{
	z-index: 78;
	width: 111px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 76px;
	left: 721px;
}

#u30180-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 111px;
	margin: 76px -10000px 0px 0px;
}

#u30181-4
{
	z-index: 82;
	width: 92px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 92px;
	left: 721px;
}

#u30181-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 92px;
	margin: 92px -10000px 0px 0px;
}

#u30183-4
{
	z-index: 90;
	width: 92px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 124px;
	left: 721px;
}

#u30183-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 92px;
	margin: 124px -10000px 0px 0px;
}

#pu15975
{
	width: 0.01px;
	margin-top: 4px;
}

#u15975
{
	z-index: 3;
	width: 104px;
	margin-right: -10000px;
}

#u15981-4
{
	z-index: 5;
	width: 348px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 119px;
}

#u15988
{
	z-index: 9;
	width: 88px;
	margin-right: -10000px;
	left: 912px;
}

body
{
	position: relative;
	min-width: 1000px;
	padding-bottom: 191px;
}

#page .verticalspacer
{
	clear: both;
}

