.version.trabajos_taller_americano /* version checker */
{
	color: #0000EB;
	background-color: #F9BE66;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 636.9000000000001px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -185px;
	width: 0.01px;
}

#pu17484
{
	width: 0.01px;
	margin-left: -100px;
}

#u25371
{
	z-index: 253;
	width: 471px;
	margin-right: -10000px;
	margin-top: 32px;
	left: 100px;
}

#ppu30226
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 4px;
	margin-left: 655px;
}

#pu30226
{
	width: 0.01px;
	margin-left: 12px;
}

#u30226
{
	z-index: 259;
	width: 23px;
	margin-right: -10000px;
}

#u30225-4
{
	z-index: 255;
	width: 399px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 34px;
}

#pbuttonu17485
{
	width: 0.01px;
	margin-top: 40px;
}

#buttonu17485
{
	z-index: 229;
	width: 61px;
	padding-left: 1px;
	margin-right: -10000px;
}

#buttonu17485:hover
{
	width: 61px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu17485.ButtonSelected
{
	width: 61px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u17486-4
{
	z-index: 230;
	width: 61px;
	min-height: 23px;
}

#buttonu17485:hover #u17486-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 61px;
	margin: 0px;
}

#buttonu17485.ButtonSelected #u17486-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 61px;
	margin: 0px;
}

#u17487
{
	z-index: 234;
	width: 61px;
	height: 6px;
	left: -1px;
	margin-top: 8px;
}

.ie #u17487
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#buttonu17485:hover #u17487
{
	width: 61px;
	height: 6px;
	min-height: 0px;
	margin: 8px 0px 0px;
}

.ie #buttonu17485:hover #u17487
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#buttonu17485.ButtonSelected #u17487
{
	width: 61px;
	height: 6px;
	min-height: 0px;
	margin: 8px 0px 0px;
}

#buttonu17488
{
	z-index: 235;
	width: 95px;
	margin-right: -10000px;
	left: 82px;
}

#buttonu17488:hover
{
	width: 95px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u17490-4
{
	z-index: 236;
	width: 94px;
	min-height: 23px;
	margin-left: 1px;
}

#buttonu17488:hover #u17490-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 94px;
	margin: 0px 0px 0px 1px;
}

#u17489
{
	z-index: 240;
	width: 95px;
	height: 6px;
	margin-top: 8px;
}

.ie #u17489
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#buttonu17488:hover #u17489
{
	width: 95px;
	height: 6px;
	min-height: 0px;
	margin: 8px 0px 0px;
}

.ie #buttonu17485.ButtonSelected #u17487,.ie #buttonu17488:hover #u17489
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#buttonu17488.ButtonSelected #u17489
{
	width: 95px;
	height: 6px;
	min-height: 0px;
	margin: 8px 0px 0px;
}

#buttonu17491
{
	z-index: 241;
	width: 135px;
	margin-right: -10000px;
	left: 197px;
}

#buttonu17491:hover
{
	width: 135px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu17491.ButtonSelected
{
	width: 135px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u17492-4
{
	z-index: 242;
	width: 134px;
	min-height: 23px;
	margin-left: 1px;
}

#buttonu17491:hover #u17492-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 134px;
	margin: 0px 0px 0px 1px;
}

#buttonu17491.ButtonSelected #u17492-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 134px;
	margin: 0px 0px 0px 1px;
}

#u17493
{
	z-index: 246;
	width: 134px;
	height: 6px;
	margin-top: 8px;
}

.ie #u17493
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#buttonu17491:hover #u17493
{
	width: 134px;
	height: 6px;
	min-height: 0px;
	margin: 8px 0px 0px;
}

.ie #buttonu17488.ButtonSelected #u17489,.ie #buttonu17491:hover #u17493
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#buttonu17491.ButtonSelected #u17493
{
	width: 134px;
	height: 6px;
	min-height: 0px;
	margin: 8px 0px 0px;
}

#buttonu17494
{
	z-index: 247;
	width: 95px;
	margin-right: -10000px;
	left: 350px;
}

#buttonu17488.ButtonSelected,#buttonu17494:hover
{
	width: 95px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu17494.ButtonSelected
{
	width: 95px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u17495-4
{
	z-index: 248;
	width: 94px;
	min-height: 23px;
	margin-left: 1px;
}

#buttonu17488.ButtonSelected #u17490-4,#buttonu17494:hover #u17495-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 94px;
	margin: 0px 0px 0px 1px;
}

#buttonu17494.ButtonSelected #u17495-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 94px;
	margin: 0px 0px 0px 1px;
}

#u17496
{
	z-index: 252;
	width: 95px;
	height: 6px;
	margin-top: 8px;
}

.ie #u17496
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#buttonu17494:hover #u17496
{
	width: 95px;
	height: 6px;
	min-height: 0px;
	margin: 8px 0px 0px;
}

.ie #buttonu17491.ButtonSelected #u17493,.ie #buttonu17494:hover #u17496
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#buttonu17494.ButtonSelected #u17496
{
	width: 95px;
	height: 6px;
	min-height: 0px;
	margin: 8px 0px 0px;
}

.ie #buttonu17494.ButtonSelected #u17496
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u17484,#u17484-bw
{
	z-index: 228;
	min-height: 110px;
}

#u30228-5
{
	z-index: 261;
	width: 399px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 32px;
	left: 701px;
}

#pu15581-4
{
	width: 0.01px;
	margin-top: 18px;
}

#u15581-4
{
	z-index: 94;
	width: 47px;
	min-height: 19px;
	background-color: transparent;
	letter-spacing: -1px;
	color: #797979;
	font-size: 14px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u15581-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 47px;
	margin: 0px -10000px 0px 0px;
}

#u15582
{
	z-index: 98;
	width: 2px;
	height: 19px;
	background-color: #222222;
	-webkit-transform: matrix(0.8988,0.4384,-0.4384,0.8988,4,1);
	-ms-transform: matrix(0.8988,0.4384,-0.4384,0.8988,4,1);
	transform: matrix(0.8988,0.4384,-0.4384,0.8988,4,1);
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 48px;
}

#u15587-4
{
	z-index: 100;
	width: 67px;
	min-height: 19px;
	background-color: transparent;
	letter-spacing: -1px;
	color: #797979;
	font-size: 14px;
	text-align: left;
	font-family: open-sans, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 59px;
}

#u15587-4.MuseLinkActive
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 67px;
	margin: 0px -10000px 0px 0px;
}

#u15581-4:hover p,#u15587-4.MuseLinkActive p
{
	color: #222222;
	visibility: inherit;
}

#u15583
{
	z-index: 99;
	width: 39px;
	height: 2px;
	background-color: #C0C0C0;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u15588
{
	z-index: 104;
	width: 62px;
	height: 2px;
	background-color: #C0C0C0;
	margin-left: 59px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#pu15613
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 7px;
}

#u15613
{
	z-index: 105;
	height: 344px;
	background-color: #E9E9E9;
}

#u15613-bw
{
	z-index: 105;
	margin-top: 10px;
	height: 344px;
}

#pamphletu15614
{
	z-index: 106;
	width: 0.01px;
	height: 333px;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 320px;
}

#u15615
{
	position: absolute;
	width: 780px;
	background-color: transparent;
}

#u15615popup
{
	z-index: 107;
}

#u15617
{
	z-index: 108;
	width: 780px;
	height: 344px;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/01-video-divisores-de-oficina-taller-americano.jpg") no-repeat center top;
}

#u15616
{
	z-index: 109;
	width: 780px;
	height: 344px;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/02-video-divisores-de-oficina-taller-americano.jpg") no-repeat center top;
}

#u15618
{
	z-index: 110;
	width: 780px;
	height: 344px;
	border-color: #999999;
	margin-right: -10000px;
	position: relative;
	background: #FFFFFF url("../images/03-video-divisores-de-oficina-taller-americano.jpg") no-repeat center top;
}

#u15619
{
	z-index: 111;
	width: 63px;
	position: relative;
	margin-right: -10000px;
	margin-top: 319px;
	left: 365px;
}

#u15621
{
	position: absolute;
	width: 14px;
	height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: #797979;
	border-radius: 10px;
}

#u15621:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #D6622F;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u15621.PamphletThumbSelected
{
	background-color: #D6622F;
	border-radius: 10px;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u15620
{
	position: absolute;
	width: 14px;
	height: 14px;
	border-style: none;
	border-color: transparent;
	background-color: #797979;
	border-radius: 10px;
	left: 25px;
}

#u15620:hover
{
	background-color: #D6622F;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u15622
{
	position: absolute;
	width: 14px;
	height: 14px;
	background-color: #797979;
	border-radius: 10px;
	left: 49px;
}

#u15622:hover
{
	border-color: #000000;
	background-color: #D6622F;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

#u15620.PamphletThumbSelected,#u15622.PamphletThumbSelected
{
	border-style: none;
	border-color: transparent;
	background-color: #D6622F;
	border-radius: 10px;
	width: 14px;
	height: 14px;
	min-height: 0px;
	margin: 0px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u30231
{
	z-index: 127;
	width: 251px;
	height: 332px;
	margin-right: -10000px;
	left: 100px;
}

#pamphletu30232
{
	z-index: 128;
	width: 0.01px;
	height: 27px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 116px;
}

#u30243popup
{
	z-index: 129;
}

#u30244
{
	z-index: 130;
	width: 212px;
	height: 27px;
	margin-right: -10000px;
}

#u30239
{
	z-index: 131;
	width: 214px;
	margin-right: -10000px;
}

#u30240
{
	width: 214px;
}

#u30240:hover
{
	width: 214px;
	min-height: 0px;
	margin: 0px;
}

#u30241
{
	z-index: 137;
	width: 14px;
	height: 27px;
	margin-right: -10000px;
}

#u30240:hover #u30241
{
	width: 14px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u30242-4
{
	z-index: 133;
	width: 191px;
	min-height: 7px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 23px;
}

#u30240:hover #u30242-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 7px;
	width: 191px;
	margin: 5px -10000px 0px 0px;
}

#pamphletu30245
{
	z-index: 138;
	width: 0.01px;
	height: 27px;
	margin-right: -10000px;
	margin-top: 46px;
	left: 116px;
}

#u30254popup
{
	z-index: 139;
}

#u30255
{
	z-index: 140;
	width: 212px;
	height: 27px;
	margin-right: -10000px;
}

#u30250
{
	z-index: 141;
	width: 214px;
	margin-right: -10000px;
}

#u30251
{
	width: 214px;
}

#u30240.PamphletThumbSelected,#u30251:hover
{
	width: 214px;
	min-height: 0px;
	margin: 0px;
}

#u30252
{
	z-index: 147;
	width: 14px;
	height: 27px;
	margin-right: -10000px;
}

#u30240.PamphletThumbSelected #u30241,#u30251:hover #u30252
{
	width: 14px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u30253-4
{
	z-index: 143;
	width: 191px;
	min-height: 7px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 23px;
}

#u30240.PamphletThumbSelected #u30242-4,#u30251:hover #u30253-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 7px;
	width: 191px;
	margin: 5px -10000px 0px 0px;
}

#pamphletu30258
{
	z-index: 148;
	width: 0.01px;
	height: 27px;
	margin-right: -10000px;
	margin-top: 76px;
	left: 116px;
}

#u30263popup
{
	z-index: 149;
}

#u30264
{
	z-index: 150;
	width: 212px;
	height: 27px;
	margin-right: -10000px;
}

#u30259
{
	z-index: 151;
	width: 214px;
	margin-right: -10000px;
}

#u30260
{
	width: 214px;
}

#u30251.PamphletThumbSelected,#u30260:hover
{
	width: 214px;
	min-height: 0px;
	margin: 0px;
}

#u30262
{
	z-index: 157;
	width: 14px;
	height: 27px;
	margin-right: -10000px;
}

#u30251.PamphletThumbSelected #u30252,#u30260:hover #u30262
{
	width: 14px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u30261-4
{
	z-index: 153;
	width: 191px;
	min-height: 7px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 23px;
}

#u30251.PamphletThumbSelected #u30253-4,#u30260:hover #u30261-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 7px;
	width: 191px;
	margin: 5px -10000px 0px 0px;
}

#pamphletu30271
{
	z-index: 158;
	width: 0.01px;
	height: 27px;
	margin-right: -10000px;
	margin-top: 106px;
	left: 116px;
}

#u30272popup
{
	z-index: 159;
}

#u30273
{
	z-index: 160;
	width: 212px;
	height: 27px;
	margin-right: -10000px;
}

#u30280
{
	z-index: 161;
	width: 214px;
	margin-right: -10000px;
}

#u30281
{
	width: 214px;
}

#u30260.PamphletThumbSelected,#u30281:hover
{
	width: 214px;
	min-height: 0px;
	margin: 0px;
}

#u30282
{
	z-index: 167;
	width: 14px;
	height: 27px;
	margin-right: -10000px;
}

#u30260.PamphletThumbSelected #u30262,#u30281:hover #u30282
{
	width: 14px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u30283-4
{
	z-index: 163;
	width: 191px;
	min-height: 7px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 23px;
}

#u30260.PamphletThumbSelected #u30261-4,#u30281:hover #u30283-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 7px;
	width: 191px;
	margin: 5px -10000px 0px 0px;
}

#pamphletu30284
{
	z-index: 168;
	width: 0.01px;
	height: 27px;
	margin-right: -10000px;
	margin-top: 137px;
	left: 116px;
}

#u30293popup
{
	z-index: 169;
}

#u30294
{
	z-index: 170;
	width: 212px;
	height: 27px;
	margin-right: -10000px;
}

#u30287
{
	z-index: 171;
	width: 214px;
	margin-right: -10000px;
	margin-top: 1px;
}

#u30288
{
	width: 214px;
}

#u30281.PamphletThumbSelected,#u30288:hover
{
	width: 214px;
	min-height: 0px;
	margin: 0px;
}

#u30290
{
	z-index: 177;
	width: 14px;
	height: 26px;
	margin-right: -10000px;
}

#u30288:hover #u30290
{
	width: 14px;
	height: 26px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u30288.PamphletThumbSelected #u30290
{
	width: 14px;
	height: 26px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u30289-4
{
	z-index: 173;
	width: 191px;
	min-height: 7px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 23px;
}

#u30281.PamphletThumbSelected #u30283-4,#u30288:hover #u30289-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 7px;
	width: 191px;
	margin: 5px -10000px 0px 0px;
}

#pamphletu30297
{
	z-index: 178;
	width: 0.01px;
	height: 27px;
	margin-right: -10000px;
	margin-top: 168px;
	left: 116px;
}

#u30308popup
{
	z-index: 179;
}

#u30309
{
	z-index: 180;
	width: 212px;
	height: 27px;
	margin-right: -10000px;
}

#u30304
{
	z-index: 181;
	width: 214px;
	margin-right: -10000px;
}

#u30305
{
	width: 214px;
}

#u30288.PamphletThumbSelected,#u30305:hover
{
	width: 214px;
	min-height: 0px;
	margin: 0px;
}

#u30306
{
	z-index: 187;
	width: 14px;
	height: 27px;
	margin-right: -10000px;
}

#u30281.PamphletThumbSelected #u30282,#u30305:hover #u30306
{
	width: 14px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u30307-4
{
	z-index: 183;
	width: 191px;
	min-height: 7px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 23px;
}

#u30288.PamphletThumbSelected #u30289-4,#u30305:hover #u30307-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 7px;
	width: 191px;
	margin: 5px -10000px 0px 0px;
}

#pamphletu30310
{
	z-index: 188;
	width: 0.01px;
	height: 27px;
	margin-right: -10000px;
	margin-top: 198px;
	left: 116px;
}

#u30317popup
{
	z-index: 189;
}

#u30318
{
	z-index: 190;
	width: 212px;
	height: 27px;
	margin-right: -10000px;
}

#u30319
{
	z-index: 191;
	width: 214px;
	margin-right: -10000px;
}

#u30320
{
	width: 214px;
}

#u30305.PamphletThumbSelected,#u30320:hover
{
	width: 214px;
	min-height: 0px;
	margin: 0px;
}

#u30322
{
	z-index: 197;
	width: 14px;
	height: 27px;
	margin-right: -10000px;
}

#u30305.PamphletThumbSelected #u30306,#u30320:hover #u30322
{
	width: 14px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u30321-4
{
	z-index: 193;
	width: 191px;
	min-height: 7px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 23px;
}

#u30305.PamphletThumbSelected #u30307-4,#u30320:hover #u30321-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 7px;
	width: 191px;
	margin: 5px -10000px 0px 0px;
}

#pamphletu30323
{
	z-index: 198;
	width: 0.01px;
	height: 27px;
	margin-right: -10000px;
	margin-top: 228px;
	left: 116px;
}

#u30330popup
{
	z-index: 199;
}

#u30331
{
	z-index: 200;
	width: 212px;
	height: 27px;
	margin-right: -10000px;
}

#u30326
{
	z-index: 201;
	width: 214px;
	margin-right: -10000px;
}

#u30327
{
	width: 214px;
}

#u30320.PamphletThumbSelected,#u30327:hover
{
	width: 214px;
	min-height: 0px;
	margin: 0px;
}

#u30329
{
	z-index: 207;
	width: 14px;
	height: 27px;
	margin-right: -10000px;
}

#u30320.PamphletThumbSelected #u30322,#u30327:hover #u30329
{
	width: 14px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u30328-4
{
	z-index: 203;
	width: 191px;
	min-height: 7px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 23px;
}

#u30320.PamphletThumbSelected #u30321-4,#u30327:hover #u30328-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 7px;
	width: 191px;
	margin: 5px -10000px 0px 0px;
}

#pamphletu30336
{
	z-index: 208;
	width: 0.01px;
	height: 27px;
	margin-right: -10000px;
	margin-top: 258px;
	left: 116px;
}

#u30339popup
{
	z-index: 209;
}

#u30340
{
	z-index: 210;
	width: 212px;
	height: 27px;
	margin-right: -10000px;
}

#u30341
{
	z-index: 211;
	width: 214px;
	margin-right: -10000px;
}

#u30342
{
	width: 214px;
}

#u30327.PamphletThumbSelected,#u30342:hover
{
	width: 214px;
	min-height: 0px;
	margin: 0px;
}

#u30344
{
	z-index: 217;
	width: 14px;
	height: 27px;
	margin-right: -10000px;
}

#u30327.PamphletThumbSelected #u30329,#u30342:hover #u30344
{
	width: 14px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u30343-4
{
	z-index: 213;
	width: 191px;
	min-height: 7px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 23px;
}

#u30327.PamphletThumbSelected #u30328-4,#u30342:hover #u30343-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 7px;
	width: 191px;
	margin: 5px -10000px 0px 0px;
}

#pamphletu30349
{
	z-index: 218;
	width: 0.01px;
	height: 27px;
	margin-right: -10000px;
	margin-top: 288px;
	left: 116px;
}

#u30360popup
{
	z-index: 219;
}

#u30243,#u30254,#u30263,#u30272,#u30293,#u30308,#u30317,#u30330,#u30339,#u30360
{
	width: 212px;
	left: 2px;
}

#u30361
{
	z-index: 220;
	width: 212px;
	height: 27px;
	margin-right: -10000px;
}

#u30354
{
	z-index: 221;
	width: 214px;
	margin-right: -10000px;
}

#u30355
{
	width: 214px;
}

#u30342.PamphletThumbSelected,#u30355:hover
{
	width: 214px;
	min-height: 0px;
	margin: 0px;
}

#u30355.PamphletThumbSelected
{
	width: 214px;
	min-height: 0px;
	margin: 0px;
}

#u30357
{
	z-index: 227;
	width: 14px;
	height: 27px;
	margin-right: -10000px;
}

#u30342.PamphletThumbSelected #u30344,#u30355:hover #u30357
{
	width: 14px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u30355.PamphletThumbSelected #u30357
{
	width: 14px;
	height: 27px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u30356-4
{
	z-index: 223;
	width: 191px;
	min-height: 7px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 23px;
}

#u30342.PamphletThumbSelected #u30343-4,#u30355:hover #u30356-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 7px;
	width: 191px;
	margin: 5px -10000px 0px 0px;
}

#u30355.PamphletThumbSelected #u30356-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 7px;
	width: 191px;
	margin: 5px -10000px 0px 0px;
}

#u15879-4
{
	z-index: 115;
	width: 861px;
	min-height: 41px;
	background-color: transparent;
	line-height: 46px;
	color: #222222;
	font-size: 38px;
	letter-spacing: -2px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 41px;
	margin-top: 54px;
	position: relative;
}

#u15880-4
{
	z-index: 119;
	width: 861px;
	min-height: 41px;
	background-color: transparent;
	line-height: 22px;
	color: #222222;
	font-size: 18px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 41px;
	margin-top: 9px;
	position: relative;
}

#u15881-4
{
	z-index: 123;
	width: 861px;
	min-height: 41px;
	background-color: transparent;
	line-height: 22px;
	color: #222222;
	font-size: 18px;
	letter-spacing: 0px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	margin-left: 41px;
	margin-top: 33px;
	position: relative;
}

#pu1639
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 81px;
}

#u1639
{
	z-index: 2;
	min-height: 141px;
	padding-bottom: 19px;
}

#u17484_align_to_page,#u1639_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	left: -100px;
}

#pu30165
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 34px;
	margin-left: 100px;
}

#u30165
{
	z-index: 19;
	width: 232px;
}

#u30167-9
{
	z-index: 21;
	width: 264px;
	min-height: 49px;
	margin-top: 18px;
}

#pu30168-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 21px;
	margin-left: 472px;
}

#u30168-4
{
	z-index: 30;
	width: 52px;
	min-height: 16px;
}

#u30169-4
{
	z-index: 34;
	width: 52px;
	min-height: 16px;
	margin-top: 21px;
}

#u30169-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 52px;
	margin: 21px 0px 0px;
}

#u30170-4
{
	z-index: 38;
	width: 72px;
	min-height: 16px;
}

#u30170-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 72px;
	margin: 0px;
}

#u30173-4
{
	z-index: 50;
	width: 52px;
	min-height: 16px;
	margin-top: 32px;
}

#u30173-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 52px;
	margin: 32px 0px 0px;
}

#pu30174-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 60px;
	margin-left: 582px;
}

#u30174-4
{
	z-index: 54;
	width: 107px;
	min-height: 16px;
}

#u30174-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 107px;
	margin: 0px;
}

#u30178-4
{
	z-index: 70;
	width: 107px;
	min-height: 16px;
	margin-top: 48px;
}

#u30178-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 107px;
	margin: 48px 0px 0px;
}

#pu30179-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 60px;
	margin-left: 721px;
}

#u30179-4
{
	z-index: 74;
	width: 111px;
	min-height: 16px;
}

#u30179-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 111px;
	margin: 0px;
}

#u30182-4
{
	z-index: 86;
	width: 92px;
	min-height: 16px;
	margin-top: 32px;
}

#u30182-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 92px;
	margin: 32px 0px 0px;
}

#pu17472
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 30px;
	margin-left: 949px;
}

#u17472
{
	z-index: 11;
	width: 58px;
}

#u17476
{
	z-index: 15;
	width: 40px;
	margin-left: 9px;
	margin-top: 19px;
}

#pu17474
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 30px;
	margin-left: 1020px;
}

#u17474
{
	z-index: 13;
	width: 54px;
	margin-left: 9px;
}

#u17478
{
	z-index: 17;
	width: 80px;
	margin-top: 26px;
}

#u1639-bw
{
	z-index: 2;
	min-height: 141px;
}

#u30171-4
{
	z-index: 42;
	width: 78px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 93px;
	left: 472px;
}

#u30171-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 78px;
	margin: 93px -10000px 0px 0px;
}

#u30172-4
{
	z-index: 46;
	width: 96px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 109px;
	left: 472px;
}

#u30172-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 96px;
	margin: 109px -10000px 0px 0px;
}

#u30175-4
{
	z-index: 58;
	width: 107px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 77px;
	left: 582px;
}

#u30175-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 107px;
	margin: 77px -10000px 0px 0px;
}

#u30176-4
{
	z-index: 62;
	width: 107px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 93px;
	left: 582px;
}

#u30176-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 107px;
	margin: 93px -10000px 0px 0px;
}

#u30177-4
{
	z-index: 66;
	width: 111px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 109px;
	left: 582px;
}

#u30177-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 111px;
	margin: 109px -10000px 0px 0px;
}

#u30180-4
{
	z-index: 78;
	width: 111px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 76px;
	left: 721px;
}

#u30180-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 111px;
	margin: 76px -10000px 0px 0px;
}

#u30181-4
{
	z-index: 82;
	width: 92px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 92px;
	left: 721px;
}

#u30181-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 92px;
	margin: 92px -10000px 0px 0px;
}

#u30183-4
{
	z-index: 90;
	width: 92px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 125px;
	left: 721px;
}

#u30183-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 92px;
	margin: 125px -10000px 0px 0px;
}

#pu15975
{
	width: 0.01px;
	margin-top: 4px;
}

#u15975
{
	z-index: 3;
	width: 104px;
	margin-right: -10000px;
}

#u15981-4
{
	z-index: 5;
	width: 348px;
	min-height: 16px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 119px;
}

#u15988
{
	z-index: 9;
	width: 88px;
	margin-right: -10000px;
	left: 912px;
}

body
{
	position: relative;
	min-width: 1000px;
	padding-bottom: 191px;
}

#page .verticalspacer
{
	clear: both;
}

